
<div class="p-3">
<div class="card">
<div class="card-body">


  <ul class="nav nav-pills">
    <li class="m-1 p-1">
      <label>total Elements: </label>
      <h4>{{appState.bookState.totalElements}}</h4>

    </li >
    <li class="m-1 p-1">
      <label>total Pages: </label>
      <h4>{{appState.bookState.currentPage}}</h4>
    </li>
    <li class="m-1 p-1">
      <label>Size: </label>
      <h4>{{appState.bookState.limit}}</h4>
    </li>
    <li class="m-1 p-1">
      <label>Checked: </label>
      <h4>{{appState.bookState.status}}</h4>
    </li>
  </ul>



</div>

</div>

</div>
